@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185deg, 41%, 84%);
}
body button {
  font-family: "Space Mono", monospace;
  border-radius: 3px;
  border: none;
  padding: 0.3rem 0;
  cursor: pointer;
}
body ::-moz-placeholder {
  font-family: "Space Mono", monospace;
  border: none;
  font-size: 1rem;
  text-align: right;
}
body :-ms-input-placeholder {
  font-family: "Space Mono", monospace;
  border: none;
  font-size: 1rem;
  text-align: right;
}
body input, body ::placeholder {
  font-family: "Space Mono", monospace;
  border: none;
  font-size: 1rem;
  text-align: right;
}
body ::-moz-placeholder {
  color: hsl(185deg, 41%, 84%);
}
body :-ms-input-placeholder {
  color: hsl(185deg, 41%, 84%);
}
body ::placeholder {
  color: hsl(185deg, 41%, 84%);
}
body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0.3rem;
}
body input {
  height: 2rem;
  background-color: hsl(189deg, 41%, 97%);
  border-radius: 4px;
  color: hsl(183deg, 100%, 15%);
}
body input:focus {
  outline: 2px solid hsl(185deg, 41%, 84%) !important;
}
body label {
  font-size: 0.75rem;
  color: hsl(186deg, 14%, 43%);
}
body div.input-section {
  position: relative;
}
body div.input-section .user-input {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.2rem;
  margin-bottom: 1rem;
}
body div.input-section div.icon img {
  position: absolute;
  bottom: 9px;
  left: 8px;
  max-width: 4%;
}

header {
  background-color: hsl(185deg, 41%, 84%);
  display: flex;
  justify-content: center;
}
header img {
  margin: 1.7rem 0;
  max-width: 20%;
}

main {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 20px;
  display: flex;
  margin: 0 auto 1rem auto;
}
main .with-error {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
main .with-error #error-message {
  color: rgba(228, 60, 60, 0.7333333333) !important;
  display: none;
}
main div.main-container {
  padding: 1rem 0 1rem 0;
  width: 90%;
  margin: 0 auto;
}
main div.tip-choice {
  margin-bottom: 1rem;
}
main div.tip-choice p {
  font-size: 0.75rem;
  color: hsl(186deg, 14%, 43%);
  margin-bottom: 0.5rem;
}
main div.tip-choice .percent-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
main div.tip-choice .percent-buttons .tip-percent {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 3px 2px -2px rgba(34, 75, 77, 0.75);
  font-size: 1rem;
}
main div.tip-choice .percent-buttons .tip-percent:hover {
  background-color: rgb(184, 243, 243);
  color: hsl(183deg, 100%, 15%);
  transition: 0.3s;
}
main div.tip-choice .percent-buttons .tip-percent:focus {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  transition: 0.2s;
}
main div.tip-choice .percent-buttons .custom {
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
  border: none;
  font-size: 1rem;
  width: 100%;
}
main div.tip-choice .percent-buttons .custom::-moz-placeholder {
  color: hsl(186deg, 14%, 43%);
}
main div.tip-choice .percent-buttons .custom:-ms-input-placeholder {
  color: hsl(186deg, 14%, 43%);
}
main div.tip-choice .percent-buttons .custom::placeholder {
  color: hsl(186deg, 14%, 43%);
}
main section.right div.left-container {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 10px;
  padding: 1.5rem 1rem 1.1rem 1rem;
}
main section.right div.left-container div.amount-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}
main section.right div.left-container button {
  width: 100%;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0;
  cursor: pointer;
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(172deg, 67%, 45%);
  border-radius: 4px;
  opacity: 0.2;
  box-shadow: 0px 3px 3px -2px rgba(32, 55, 56, 0.75);
}
main section.right div.left-container button:hover, main section.right div.left-container button:focus {
  background-color: rgb(184, 243, 243);
  opacity: 1;
  transition: 0.4s;
}
main section.right div.left-container .detail {
  font-size: 0.8rem;
  color: hsl(189deg, 41%, 97%);
}
main section.right div.left-container .detail span {
  color: hsl(184deg, 14%, 56%);
  font-size: 0.65rem;
}
main section.right div.left-container .tip-amount-display {
  color: hsl(172deg, 67%, 45%);
  font-size: 1.2rem;
}

@media (min-width: 400px) and (max-width: 600px) {
  main {
    max-width: 350px;
  }
}
@media (min-width: 600px) {
  main {
    margin-top: 2rem;
    width: 80%;
    max-width: 650px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  main .main-container {
    width: 92% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0 !important;
    margin: 0 !important;
  }
  main .main-container section.left {
    flex-basis: 50%;
  }
  main .main-container section.left .percent-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .main-container section.right {
    flex-basis: 50%;
  }
  main .main-container section.right button {
    margin-top: 3rem !important;
  }
}/*# sourceMappingURL=tip calc.css.map */